.Box{
    background-color: rgb(235, 158, 129);
    position: relative;
    margin-top: 2%;
}
.button-con{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.button-con button{
    margin: 0 10px;
}
.table{
    width: 700px;
    margin-bottom: 0px; /* 設置間距為20像素 */
}
.chat-content{

    height: 100px;
}

.button-right{
    float: right;
}
.button-left{
    float: left;
}

.setChat{
    text-align: center;
    height: 100px;
}
.div-container{
    text-align: center;
}